<div class = "container"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-example">
        <div class="panel panel-default"  style=" margin: 0">
          <div class="panel-heading">
            <div class="row">
              <div class = "col-sm-2">
                <img ng-src="{{user.gravatarUrl}}">
              </div>
              <div class = "col-sm-8">
                <ul class="list-unstyled">
                  <li>Name: {{user.name}}</li>
                  <li>Email: {{user.email}}</li>
                </ul>
              </div> 
              <div class = "col-sm-2">
                <button class = "btn btn-info" ng-click = "adminLogout()">Odjava</button>
              </div>                                   
            </div>                                                                  
          </div>
        </div>
      </div>                  
    </div>
  </div> 
  <p style="padding: 5px;"></p>   
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-example">
        <div class="panel panel-default"  style=" margin: 0">
          <div class="panel-heading">
            <div class = "row">
              <div class = "col-sm-12">
                <button class = "btn btn-info" ng-click = "deleteTasks()">Obriši zadatke</button>
                <button class = "btn btn-info" ng-click = "deleteStudents()">Obriši učenike</button>                      
              </div>                       
            </div>                                                                 
          </div>
        </div>
      </div>                  
    </div>      
  </div>
  <p style="padding: 5px;"  ng-show="tasksDeleted"></p> 
  <div class = "row">
    <div class = "col-xs-12">
      <div class="bs-example">
        <div class="panel panel-info"  style=" margin: 0" ng-show="tasksDeleted">
          <div class="panel-heading">Svi zadaci uspješno obrisani</div>
        </div>
      </div>
    </div>
  </div>
  <p style="padding: 5px;" ng-show="studentsDeleted"></p>
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-example">
        <div class="panel panel-info"  style=" margin: 0" ng-show="studentsDeleted">
          <div class="panel-heading">Svi učenici uspješno obrisani</div>
        </div>
      </div>                  
    </div>
  </div>


  <p style="padding: 5px;"></p> 
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-example">
        <div class="panel panel-default"  style=" margin: 0">
          <div class="panel-heading" ng-mouseover ="showChangeNameInput=true" ng-mouseleave ="showChangeNameInput=false">
            <div class = "row">
              <form name="changeNameForm" role="form" ng-submit="changeAdminName()">
                <div class = "col-sm-4">
                  <button class = "btn btn-info" ng-disabled = "changeNameForm.$invalid">Promijeni ime</button>                        
                </div>
                <div class="form-group col-sm-8">
                  <input type="text"
                    ng-init="showChangeNameInput=false"
                    ng-show="showChangeNameInput"                      
                    ng-model="new.newName" 
                    name="name" 
                    id="name" 
                    class="form-control"
                    placeholder="Novo ime" 
                    required
                    style="margin-bottom:-15px"/>
                </div>
              </form>                    
            </div>                                                                       
          </div>
        </div>
      </div>                  
    </div>      
  </div>
  <p style="padding: 5px;" ng-show="nameChanged"></p> 
  <div class = "row">
    <div class = "col-xs-12">
      <div class="bs-example">
        <div class="panel panel-info"  style=" margin: 0" ng-show="nameChanged">
          <div class="panel-heading">Ime uspješno promjenjeno</div>
        </div>
      </div>
    </div>
  </div>

  <p style="padding: 5px;"></p> 
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-example">
        <div class="panel panel-default"  style=" margin: 0">
          <div class="panel-heading" ng-mouseover ="showChangeEmailInput=true" ng-mouseleave ="showChangeEmailInput=false">
            <div class = "row">
              <form name="changeEmailForm" role="form" ng-submit="changeAdminEmail()">
                <div class = "col-sm-4">
                  <button class = "btn btn-info" ng-disabled = "changeEmailForm.$invalid">Promijeni Email</button>                        
                </div>
                <div class="form-group col-sm-8">
                  <input type="text"
                    ng-init="showChangeEmailInput=false"
                    ng-show="showChangeEmailInput"                      
                    ng-model="new.newEmail" 
                    name="name" 
                    id="name" 
                    class="form-control"
                    placeholder="Nova email adresa" 
                    required
                    style="margin-bottom:-15px"/>
                </div>
              </form>                    
            </div>                                                                       
          </div>
        </div>
      </div>                  
    </div>      
  </div>
  <p style="padding: 5px;" ng-show="emailChanged"></p> 
  <div class = "row">
    <div class = "col-xs-12">
      <div class="bs-example">
        <div class="panel panel-info"  style=" margin: 0" ng-show="emailChanged">
          <div class="panel-heading">Email adresa uspješno promjenjena</div>
        </div>
      </div>
    </div>
  </div>


  <p style="padding: 5px;"></p> 
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-example">
        <div class="panel panel-default"  style=" margin: 0">
          <div class="panel-heading" ng-mouseover ="showChangePasswordInput=true" ng-mouseleave ="showChangePasswordInput=false">
            <div class = "row">
              <form name="changePasswordForm" role="form" ng-submit="changeAdminPassword()">
                <div class = "col-sm-4">
                  <button class = "btn btn-info" ng-disabled = "changePasswordForm.$invalid">Promijeni lozinku</button>                        
                </div>
                <div class="form-group col-sm-8">
                  <input type="password"
                    ng-init="showChangePasswordInput=false"
                    ng-show="showChangePasswordInput"                      
                    ng-model="new.newPassword" 
                    name="name" 
                    id="name" 
                    class="form-control"
                    placeholder="Nova lozinka" 
                    required
                    style="margin-bottom:-15px"/>
                </div>
              </form>                    
            </div>                                                                       
          </div>
        </div>
      </div>                  
    </div>      
  </div>
  <p style="padding: 5px;" ng-show="passwordChanged"></p> 
  <div class = "row">
    <div class = "col-xs-12">
      <div class="bs-example">
        <div class="panel panel-info"  style=" margin: 0" ng-show="passwordChanged">
          <div class="panel-heading">Lozinka uspješno promjenjena</div>
        </div>
      </div>
    </div>
  </div>
</div>



