<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		    <h2>Privremena sjednica</h2>
		    <form name="formLogin" role="form">
		        <div class="form-group">
		            <label for="name">Ime i prezime</label>
		            <input type="text"
		            	   ng-model="logindata.name" 
		            	   name="name" 
		            	   id="name" 
		            	   class="form-control"
		            	   placeholder="Ime i prezime" 
		            	   required/>
		        </div>
		        <div class="form-group">
		            <label for="username">Email adresa</label>
		            <input type="text"
		            	   ng-model="logindata.email" 
		            	   name="email" 
		            	   id="email" 
		            	   class="form-control"
		            	   placeholder="Email" 
		            	   required/>
		        </div>		        
	            <div class="form-group">
	                <label for="tableNum">Broj stola</label>
	                <input type="number"
	                     ng-model="logindata.number" 
	                     name="tableNum" 
	                     id="tableNum"
	                     min = 1
	                     class="form-control"
	                     placeholder="Broj stola" 
	                     required/>
	            </div>
		    </form>
		</div>  
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<button class="btn  btn-info" type="submit" ng-disabled = "formLogin.$invalid" ng-click = "runLogin()">Login</button>
		    <button class="btn btn-info" ng-click="goToAdminLogin()">Admin Login</button>
		</div>
	</div>  	
</div>



