<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Admin</h2>
            <form name="formLoginAdmin" role="form">
                <div class="form-group">
                    <label for="name">Ime</label>
                    <input type="text"
                         ng-model="admindata.name" 
                         name="name" 
                         id="name" 
                         class="form-control"
                         placeholder="Ime admina" 
                         required/>
                </div>
                <div class="form-group">
                    <label for="username">Lozinka</label>
                    <input type="password"
                         ng-model="admindata.passw" 
                         name="passw" 
                         id="passw" 
                         class="form-control"
                         placeholder="Lozinka" 
                         required/>
                </div>            
            </form>

        </div>         
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
                <button class="btn  btn-info" type="submit" ng-disabled = "formLoginAdmin.$invalid" ng-click="runAdminLogin()">Admin Login</button>
                <button class="btn btn-info" ng-click="goToStudentLogin()">Prijava za učenike</button>            
        </div>
    </div>
    <p style="padding: 5px;" ng-show="invalidCredentials"></p>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="bs-example">
          <div class="panel panel-danger"  style=" margin: 0" ng-show="invalidCredentials">
            <div class="panel-heading">Netočni podaci</div>
          </div>
        </div>                  
      </div>
    </div>
</div>


