<div class = "container"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-example">
        <div class="panel panel-default"  style=" margin: 0">
          <div class="panel-heading">
            <div class="row">
              <div class = "col-sm-2">
                <img ng-src="{{user.gravatarUrl}}">
              </div>
              <div class = "col-sm-8">
                <ul class="list-unstyled">
                  <li>Ime: {{user.name}}</li>
                  <li>Email: {{user.email}}</li>
                  <li>Broj stola: {{user.number}}</li>
                </ul>
              </div> 
              <div class = "col-sm-2">
                <button class = "btn btn-info" ng-click = "logout()">Odjava</button>
              </div>                                   
            </div>                                                                  
          </div>
        </div>
      </div>                  
    </div>
  </div>
  <p style="padding: 5px;"></p>       
  <ul class = "list-unstyled">
    <li ng-repeat = "task in tasks track by task.taskid">
      <div class="row">
        <div class="col-xs-12">
          <div class="bs-example">
            <div ng-class="{'panel panel-info': task.duration - clock >0, 'panel panel-danger': task.duration - clock <= 0}"  style=" margin: 0">
              <div class="panel-heading">
                <div class="row">
                <div class="col-sm-8">
                  <div style="padding-top: 10px; padding-bottom: 10px;">Zadatak {{task.taskid}}: {{task.description}}</div>                        
                </div>
                <div class="col-sm-4">
                  <div style="padding-top: 10px; padding-bottom: 10px;">Vrijeme: <strong>{{task.duration - clock |set0 | date:'mm:ss'}}</strong></div>                        
                </div>
                </div>
                <div class = "row">
                  <div class = "col-sm-4">
                    <button class = "btn btn-success" ng-click = "solved(task.taskid)" ng-disabled = "(task.duration-clock) <= 0">Rješen zadatak</button>
                    <img ng-src= "{{user['solvedtask'+task.taskid] | solvedTasks}}"  width="40px" height="40px">                       
                  </div>
                  <div class = "col-sm-4">
                    <button class = "btn btn-warning" ng-click = "inProgress(task.taskid)" ng-disabled = "(task.duration-clock) <= 0">Rješavam</button>
                    <img ng-src= "{{ !user['solvedtask'+task.taskid] && !user['helptask' + task.taskid] | inProgress}}"  width="40px" height="40px">                          
                  </div>
                  <div class = "col-sm-4">
                    <button class = "btn btn-info" ng-click = "needHelp(task.taskid)" ng-disabled = "(task.duration-clock) <= 0">Pomoć</button>
                    <img ng-src= "{{user['helptask'+task.taskid] | needHelp}}"  width="40px" height="40px">                        
                  </div>                                                
                </div> 
              </div>
            </div>
          </div>                  
        </div>
      </div>
      <p style="padding: 5"> </p>
    </li>
  </ul>   
</div>


