<div class = "container">
  <div class = "row">
    <div class="col-sm-8">
      <form name="form" role="form" novalidate ng-submit="addTask(task)">
          <div class="form-group">
              <label for="task"> Zadatak</label>                
              <textarea class="form-control"
                        ng-model="task.description" 
                        name="taskDesc" 
                        id="taskDesc"                    
                        rows="3" 
                        placeholder="Definirajte zadatak" 
                        required>
              </textarea>    
          </div>
          <div class="form-group">
              <label for="password">Broj minuta</label>
              <input type="number"
                   ng-model="task.duration" 
                   name="taskDur" 
                   id="taskDur"
                   min = 1
                   max = 60
                   class="form-control"
                   placeholder="Broj minuta za rješavanje zadatka" 
                   required/>
          </div>
          <div class="form-actions">
              <button class="btn  btn-info" type="submit" ng-disabled = "form.$invalid">Postavi</button>
              <button class="btn btn-info" ng-click="goToTasks()">Odustani</button>
          </div>
      </form>
    </div>
  </div> 
</div>





