<div class = "container">
  <div class = "row">
    <ul class = "list-unstyled">
      <li ng-repeat = "task in tasks track by task.taskid">
        <div class="row">
          <div class="col-xs-12">
            <div class="bs-example">
              <div ng-class="{'panel panel-info': task.duration - clock >0, 'panel panel-danger': task.duration - clock <= 0}"  style=" margin: 0">
                <div class="panel-heading">
                  <div class="row">
                  <div class="col-sm-8">
                    <div style="padding-top: 10px; padding-bottom: 10px;">Zadatak {{task.taskid}}: {{task.description}}</div>                        
                  </div>
                  <div class="col-sm-4">
                    <div style="padding-top: 10px; padding-bottom: 10px;">Vrijeme: <strong>{{task.duration - clock |set0 | date:'mm:ss'}}</strong></div>                        
                  </div>                         
                  </div>
       
                </div>
              </div>
            </div>                  
          </div>
        </div>
        <p style="padding: 5"> </p>
      </li>
    </ul>
  </div> 
</div>





