<div class = "container">
  <div class = "row">
    <div class="col-sm-12">
      <ul class = "list-unstyled">
        <li ng-repeat="user in users track by user.id" style="padding-bottom: 10px">
          <div class="row">
            <div class="col-xs-12">
              <div class="bs-example">
                <div class="panel panel-default"  style=" margin: 0">
                  <div class="panel-heading">
                    <div class="row">
                      <div class = "col-sm-2">
                        <img ng-src="{{user.gravatarUrl}}">
                      </div>
                      <div class = "col-sm-10">
                        <ul class="list-unstyled">
                          <li>Ime: {{user.name}}</li>
                          <li>Email: {{user.email}}</li>
                          <li>Broj stola: {{user.number}}</li>
                        </ul>
                      </div>                      
                    </div>                                                                  
                  </div>
                    <ul class = "list-unstyled">
                      <li ng-repeat = "task in tasks track by task.taskid" style="padding-left: 10px;">
                        <div class="row">
                          <div class = "col-sm-2" style="padding-top: 10px">
                            <span>Zadatak {{task.taskid}}:</span>   
                          </div>
                          <div class=" col-sm-10">
                            <img ng-src= "{{user['solvedtask'+task.taskid] | solvedTasks}}"  width="40px" height="40px">                       
                            <img ng-src= "{{ !user['solvedtask'+task.taskid] && !user['helptask' + task.taskid] | inProgress}}"  width="40px" height="40px">                      
                            <img ng-src= "{{user['helptask'+task.taskid] | needHelp}}" width="40px" height="40px">                                                             
                          </div>
                        </div>    
                      </li>
                    </ul>
                </div>
              </div>                  
            </div>
          </div>                       
        </li>
      </ul>
    </div>
  </div> 
</div>

  

